#product-panel
    ul
        color: white
        margin:0
        padding:0

    li
        list-style-type: none
        text-align:center

        .button
            padding: 10px
            margin: 0
            width: 100%
