@import 'yeticss'
@import './modules/search-box'
@import './modules/filters-bar'
@import './modules/product-panel'
@import './modules/shopping-cart'

body
    background: #fafafa


#main
    margin-top: 50px
