@import 'yeticss'
@import './modules/search-box'
@import './modules/filters-bar'
@import './modules/product-panel'
@import './modules/shopping-cart'
// @import './modules/auth'

body
    background: #fafafa


#main
    margin-top: 50px

.hide
    display: none